@{ 
    ViewData["Title"] = "Yet Another Simple Authentication Service";
}

<div ng-app="Yasas">
</div>

@section scripts
{
    <environment names="Development">
        <script type="text/javascript" src="~/js/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/app.min.js"></script>
    </environment>
}
